*{
    margin: 0%;
    user-select: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      background-color: rgb(231, 228, 225);
    height: 100vh;
}

header img {
    width: 24%;
}

header {

    background-color: rgb(9, 66, 77);
    display: flex;
    position: sticky;
    top: 0;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    color: white;
    z-index: 1000000;
}

.sectionHeader {

    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
}

.sectionHeader:nth-child(2) {
    display: flex;
    z-index: 10000;

}
.sectionHeader:nth-child(3) {

    display: flex;
    text-align: center;


}

.sectionHeader:nth-child(2) h4 {
    margin-left: 5%;
    margin-right: 5%;
    white-space: nowrap; 
    font-size: 15px ;

}

.sectionHeader:nth-child(2) h4:hover {
    color: rgb(252, 220, 182);
    color: bisque
}

h4 {
    font-weight: 300;
    
}

main {
    display: flex;
}


#mainContent {

    padding-top: 3%;
    width: 220%;
    padding-right: 10%;
    padding-left: 10% ;
    color: rgb(9, 66, 77);
    padding: 5%;

}

#supportContent {

    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 200;
}

#supportContent img {

    position: relative;
    width: 100%;

}

#supportContent p {
    margin-top: 10%;
}

#mainContent h1 {
    font-size: 75px;
}

#title {
    margin-top: 3%;
    background-color: white;
    height: 90px;
}

#title::before {
    content: "";
    display:inline;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 10%;
    height: 90px;
    transform: translate(-100%);

}

footer {

    bottom: 0%;
    background-color: rgb(9, 66, 77);
    display: flex;
    justify-content: space-around;
    padding: 5%;
    color: white;
    font-weight: 100;


}

footer div {



}




